---
import Layout from "../layouts/Layout.astro";
import AnimatedComponent from "../components/animations/AnimatedComponent";
import Card from "../components/Card/Card";
import { getCollection } from "astro:content";
const hobbies = await getCollection("hobbies");
---

<Layout title="Projets">
  <main class="container px-10">
    <section>
      <h1 class="title">Centre d'intêrets</h1>
      <AnimatedComponent duration={0.6} client:load>
        <div class="container-grid">
          {
            hobbies.map((hobby) => (
              <Card
                title={hobby.data.title}
                description={hobby.data.description}
                img={hobby.data.img}
                link={hobby.data.url}
                svgName={hobby.data.svgName}
                littleHeightCard={true}
                client:load
              />
            ))
          }
        </div>
      </AnimatedComponent>
    </section>
  </main>
</Layout>
