---
import Layout from "../layouts/Layout.astro";
import AnimatedComponent from "../components/animations/AnimatedComponent";
import Card from "../components/Card/Card";
import { getCollection } from "astro:content";
const projects = await getCollection("projects");
---

<Layout title="Projets">
  <main class="container">
    <section>
      <h1 class="title">Projets</h1>
      <AnimatedComponent duration={0.6} client:load>
        <div class="container-grid">
          {
            projects.map((project) => (
              <Card
                title={project.data.title}
                description={project.data.description}
                img={project.data.img}
                technologies={project.data.technologies}
                link={project.data.url}
                svgName={project.data.svgName}
                box={false}
                client:load
              />
            ))
          }
        </div>
      </AnimatedComponent>
    </section>

    <style></style>
  </main>
</Layout>

